@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Microsoft Yahei", Arial, helvetica, arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0px;
    line-height: 20px;
    color: #777;
}

*:focus {
    outline: none;
}

img {
    border: 0;
    vertical-align: top;
}

a {
    blr: expression(this.onFocus=this.blur())
}

a {
    color: #a0a0a0;
    text-decoration: none;
    outline: none;
}

a:link, a:visited {
    color: #a0a0a0;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #1fb388;
    outline: none;
}

.con_right {
    width: 887px;
    margin: 0 auto;
}

#zh_map {
    position: relative;
    width: 887px;
    height: 618px;
    overflow: hidden;
    padding-top: 0px;
    text-align: left;
}

.areaImg {
    position: absolute;
    width: 887px;
    height: 618px;
    z-index: 3;
}

.cityImg {
    position: absolute;
    z-index: 1;
    display: none;
}

.map_city_list {
    position: absolute;
    width: 250px;
    height: 340px;
    background: #FFF;
    z-index: 260;
    margin-left: 830px;
    margin-top: 250px;
    padding: 10px;
    display: none;
    border: #3dd394 solid 1px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
}

.map_city_list.inpage {
    border-color: #3fced3;
}

.map_city_list h1 {
    height: 40px;
    color: #333;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    margin: 0;
    padding: 0;
}

.shop_list_area {
    border: #3fced3 solid 1px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    height: 300px;
}

.shop_list_area.inpage {
    border-color: #3fced3;
}

.shop_list_tab {
    height: 40px;
    line-height: 40px;
    color: #666
}

.shop_list_tab span {
    float: left;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.shop_list_tab .cityname {
    width: 70px;
}

.shop_list_tab .shename {
    width: 150px;
}

.shop_list_panel {
    position: relative;
    width: 240px;
    height: 220px;
    padding: 0 5px;
    color: #777;
    text-align: left
}

.PageArea {
    padding: 5px 10px;
    text-align: right;
    line-height: 30px;
    font-size: 14px;
}

.con_right .PageArea a {
    margin: 0 5px;
    color: #333333;
    display: none;
    font-size: 14px;
}

.PageArea a:hover {
    color: #fd8f33;
}

.Header .nav-in li:nth-child(3) a {
    color: #e87e30;
    border-bottom-color: #e87e30;
}

